.advantages__list {
  @media (min-width: $tablet-width) {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: $desktop-width) {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item--full {
  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
  }
}

.advantages__item--full:nth-child(2n) .advantages__wrapper {
  @media (min-width: $tablet-width) {
    grid-template-columns: 2fr 1fr;
  }
}

.advantages__item--full:nth-child(2n) .advantages__img {
  @media (min-width: $tablet-width) {
    order: -1;
  }
}

.advantages__wrapper {
  color: #ffffff;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: grid;

    grid-template-columns: 1fr 2fr;
  }

  @media (min-width: $desktop-width) {
    display: grid;

    grid-template-columns: 1fr 2fr;
  }
}

.advantages__container {
  padding: 54px 18px 40px;

  text-align: center;
  text-transform: uppercase;
}

.advantages__title {
  position: relative;

  margin: 0 0 11px;

  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.advantages__wrapper .advantages__container {
  color: #ffffff;

  background-color: #82b3d3;
}

.advantages__wrapper .advantages__title {
  color: #ffffff;
}

.advantages__img {
  width: 100%;
  height: 260px;
}

.advantages__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.advantages__attractions {
  @media (min-width: $tablet-width) {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: $desktop-width) {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__attractions-item {
  padding: 33px 15px 0 65px;

  text-transform: uppercase;

  background-repeat: no-repeat;
  background-position: 18px 23px;
  background-size: 40px 40px;

  @media (min-width: $tablet-width) {
    min-height: 331px;
    padding: 157px 33px 60px;

    text-align: center;

    background-position: center 61px;
  }

  @media (min-width: $desktop-width) {
    padding: 170px 55px 60px;

    background-position: center 70px;
  }
}

.advantages__attractions-item--motel {
  background-image: url("../img/svg/motel.svg");

  @media (min-width: $tablet-width) {
    background-size: 77px 72px;
  }
}

.advantages__attractions-item--meal {
  background-image: url("../img/svg/meal.svg");

  @media (min-width: $tablet-width) {
    background-size: 80px 67px;
  }

  @media (min-width: $desktop-width) {
    background-size: 72px 72px;
  }
}

.advantages__attractions-item--souvenirs {
  background-image: url("../img/svg/souvenirs.svg");

  @media (min-width: $tablet-width) {
    background-size: 85px 80px;
  }

  @media (min-width: $desktop-width) {
    background-size: 93px 77px;
  }
}

.advantages__attractions-item--souvenirs br {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
