.advantages__list {
  @media (min-width: $tablet-width) {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item {
  position: relative;
}

.advantages__item--full {
  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
  }
}

.advantages__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;

    grid-template-columns: 1fr 2fr;
  }
}

.advantages__item--full + .advantages__item--full .advantages__wrapper {
  @media (min-width: $tablet-width) {
    grid-template-columns: 2fr 1fr;
  }
}

.advantages__container {
  padding: 26px 35px 24px;

  text-align: center;
  text-transform: uppercase;

  background-color: #eeeeee;

  @media (min-width: $tablet-width) {
    height: 100%;
    min-height: 256px;
    padding: 42px 30px 22px;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 40px 25px;
  }
}

.advantages__item--full:first-child .advantages__container {
  padding-top: 71px;
  padding-bottom: 38px;

  @media (min-width: $tablet-width) {
    padding-top: 54px;
    padding-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    padding: 54px 56px 35px;
  }
}

.advantages__item--full:first-child .advantages__container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  height: 36px;

  background-image: url("../img/svg/divider2.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.advantages__item--full:nth-child(2n) .advantages__wrapper {
  @media (min-width: $tablet-width) {
    grid-template-columns: 2fr 1fr;
  }
}

.advantages__title {
  margin: 0 0 11px;

  font-size: 18px;
  line-height: 26px;
  color: #000000;

  @media (min-width: $tablet-width) {
    padding: 0 20px;

    font-size: 21px;
  }

  @media (min-width: $desktop-width) {
    max-width: 175px;
    margin: 0 auto 12px;
    padding: 0 10px;
  }
}

.advantages__item p {
  margin: 0;
}

.advantages__container p + p {
  margin-top: 17px;

  @media (min-width: $tablet-width) {
    margin-top: 23px;
  }
}

.advantages__description br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.advantages__wrapper .advantages__container {
  padding: 39px 20px 35px;

  color: #ffffff;

  background-color: #81b3d2;

  @media (min-width: $tablet-width) {
    padding: 53px 30px 21px;
  }

  @media (min-width: $desktop-width) {
    padding: 53px 83px 35px;
  }
}

.advantages__wrapper .advantages__title {
  color: #ffffff;
}

.advantages__img {
  width: 100%;
  height: 260px;

  @media (min-width: $tablet-width) {
    height: auto;
  }
}

.advantages__item--full + .advantages__item--full .advantages__img {
  @media (min-width: $tablet-width) {
    order: -1;
  }
}

.advantages__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.advantages__attractions {
  padding-bottom: 44px;

  @media (min-width: $tablet-width) {
    display: grid;
    padding-bottom: 0;

    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__attractions-item {
  padding: 33px 15px 0 65px;

  text-transform: uppercase;

  background-repeat: no-repeat;
  background-position: 18px 23px;
  background-size: 40px 40px;

  @media (min-width: $tablet-width) {
    min-height: 331px;
    padding: 157px 33px 60px;

    text-align: center;

    background-position: center 61px;
  }

  @media (min-width: $desktop-width) {
    padding: 170px 55px 60px;

    background-position: center 70px;
  }
}

.advantages__attractions-item--motel {
  background-image: url("../img/svg/motel.svg");

  @media (min-width: $tablet-width) {
    background-size: 77px 72px;
  }
}

.advantages__attractions-item--meal {
  background-image: url("../img/svg/meal.svg");

  @media (min-width: $tablet-width) {
    background-size: 80px 67px;
  }

  @media (min-width: $desktop-width) {
    background-size: 72px 72px;
  }
}

.advantages__attractions-item--souvenirs {
  background-image: url("../img/svg/souvenirs.svg");

  @media (min-width: $tablet-width) {
    background-size: 85px 80px;
  }

  @media (min-width: $desktop-width) {
    background-size: 93px 77px;
  }
}

.advantages__attractions-item--souvenirs br {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.advantages__attractions-item .advantages__title {
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
  }
}

.advantages__item:not(.advantages__item--full)::after {
  content: "";
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;

  height: 1px;

  background-color: #d6d6d6;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.advantages__item:last-child::after {
  display: none;
}
