.button {
  display: block;
  padding: 16px 49px 16px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: 4px;
}
