.button {
  display: block;
  width: 284px;
  margin: 0 auto;
  padding: 16px 18px 16px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  font-family: $font;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #81b3d2;
  border: none;

  &:hover,
  &:focus {
    background-color: #669ec0;
    outline: none;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #5496bd;
  }

  &:disabled,
  &--disabled {
    background-color: #e5e5e5;
  }
}
