.footer {
  align-items: center;
  margin: 0 auto;
  padding: 20px;

  gap: 30px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 120px;
  }
}

.footer__appeal {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.footer__copyright {
  display: flex;
  align-items: center;
  padding: 0;

  color: #000000;

  gap: 12px;
}

.footer__copyright-text {
  text-transform: uppercase;
}
