.footer__appeal {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.footer__copyright {
  color: #000000;
}

.footer__copyright-text {
  text-transform: uppercase;
}
