.footer {
  padding: 42px 20px 32px;

  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 37px 60px 34px;
  }

  @media (min-width: $desktop-width) {
    padding: 37px 120px 34px;
  }
}

.footer__appeal {
  display: inline-block;
  margin-bottom: 33px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.footer__copyright {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  color: #000000;
  text-decoration: none;

  gap: 12px;
}

.footer__copyright svg {
  fill: currentColor;
}
