@media (min-width: $tablet-width) {
  .form__wrapper-fieldset {
    display: grid;
    margin: 108px 60px 48px;

    grid-template-columns: 280px 298px;
  }
}

@media (min-width: $desktop-width) {
  .form__wrapper-fieldset {
    margin: 68px 120px 56px;
    padding-left: 120px;
  }
}

@media (min-width: $tablet-width) {
  .form__fieldset--data {
    margin-right: 70px;
  }
}

@media (min-width: $tablet-width) {
  .form__contact-item {
    padding-bottom: 16px;
  }
}

.form__contact-label {
  text-transform: uppercase;
}

.form__contact-input {
  width: 100%;
  height: 58px;
  padding: 6px 12px 6px 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: $font;
  color: #000000;

  background-color: #f2f2f2;
  border: 4px solid transparent;
}

.form__fieldset-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .form__fieldset-title {
    text-align: center;
  }
}

.form__contact-input--phone {
  background-image: url("../img/svg/phone.svg");
  background-repeat: no-repeat;
}

.form__contact-input--mail {
  background-image: url("../img/svg/mail.svg");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .form__options {
    display: flex;
    flex-wrap: wrap;
    width: 575px;
    margin: 28px 96px 48px;
  }
}

@media (min-width: $desktop-width) {
  .form__options {
    display: flex;
    width: 960px;
    margin: 28px 120px 56px;
  }
}

@media (min-width: $tablet-width) {
  .form__options-item {
    left: 96px;

    width: 280px;
    height: 46px;

    text-align: center;
  }
}

.form__options-label {
  height: 46px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.form__options-input {
  position: relative;

  width: 46px;
  height: 46px;
  margin: 0;

  background-color: #f2f2f2;
  border-radius: 4px;

  appearance: none;
}

.form__options-input[type="radio"] {
  border-radius: 50%;
}

.form__options-input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 35%;

  width: 16px;
  height: 16px;

  background-color: #333333;
  border-radius: 50%;
  transform: translateY(-50%);
}

.form__options-input[type="checkbox"]:checked {
  background-image: url("../img/svg/checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: $tablet-width) {
  .form__fieldset--sumbit {
    margin-left: auto;
  }
}

.form__submit {
  width: 100%;
  padding: 19px 16px 13px;
}

@media (min-width: $tablet-width) {
  .form__submit {
    width: 324px;
    height: 58px;
    margin: 48px 60px 64px;
  }
}

@media (min-width: $tablet-width) {
  .form__note {
    text-align: right;
  }
}
