.form {
  @media (min-width: $tablet-width) {
    padding: 55px 40px 42px;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 100px 43px;
  }
}

.form__wrapper-fieldset {
  @media (min-width: $tablet-width) {
    position: relative;

    display: grid;

    gap: 18px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    gap: 60px;
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      top: 16px;
      bottom: 16px;
      left: 50%;

      width: 1px;

      background-color: #dbdbdb;
      transform: translateX(-50%);
    }
  }
}

.form__fieldset {
  margin: 0;
  padding: 24px 20px 23px;

  border: none;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    padding: 24px 20px 27px;

    border: none;
  }
}

.form__fieldset--radio {
  @media (min-width: $tablet-width) {
    padding-top: 35px;
    padding-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 44px;
    padding-bottom: 35px;
  }
}

.form__fieldset--message {
  padding-bottom: 27px;

  border: none;

  @media (min-width: $tablet-width) {
    padding-top: 14px;
    padding-bottom: 17px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 27px;
    padding-bottom: 24px;
  }
}

.form__fieldset--submit {
  display: flex;
  flex-direction: column;
  padding-bottom: 27px;

  border: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  @media (min-width: $desktop-width) {
    max-width: 810px;
    margin: 0 auto;
  }
}

.form__fieldset-title {
  margin: 0 0 20px;

  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 28px;

    font-size: 21px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
  }
}

.form__message {
  width: 100%;
  height: 150px;
  padding: 15px 12px 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;

  background-color: #f2f2f2;
  border: 4px solid transparent;

  resize: none;

  @media (min-width: $tablet-width) {
    height: 160px;
    padding-top: 12px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    max-width: 770px;
    margin: 0 auto;
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:active,
  &:focus {
    background-color: #ffffff;
    border: 4px solid #e5e5e5;
    outline: none;
  }

  &:disabled,
  &--disabled {
    opacity: 0.3;

    pointer-events: none;
  }

  &--valid {
    border-color: #7db54f;
  }

  &--invalid {
    border-color: #ff5757;
  }
}

.form__submit {
  width: 100%;
  padding: 19px 16px 13px;

  @media (min-width: $tablet-width) {
    width: 324px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 384px;
  }
}

.form__note {
  display: block;
  order: 1;

  font-size: 12px;
  line-height: 21px;
  text-align: right;
  color: rgba(51, 51, 51, 0.6);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    color: #333333;
  }
}

.form__fieldset-title--lines {
  @media (min-width: $tablet-width) {
    overflow: hidden;
  }
}

.form__fieldset-title--lines span {
  @media (min-width: $tablet-width) {
    display: inline-block;
    max-width: 400px;
    padding: 0 60px;

    vertical-align: middle;
  }
}

.form__fieldset-title--lines::before,
.form__fieldset-title--lines::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: relative;

    display: inline-block;
    width: 100%;
    height: 1px;

    vertical-align: middle;

    background-color: #dbdbdb;
  }
}

.form__fieldset-title--lines::before {
  @media (min-width: $tablet-width) {
    margin-left: -100%;
  }
}

.form__fieldset-title--lines::after {
  @media (min-width: $tablet-width) {
    margin-right: -100%;
  }
}
