.form__wrapper-fieldset {
  @media (min-width: $tablet-width) {
    position: relative;

    display: grid;

    grid-template-columns: repeat(2, 1fr);
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;

      width: 1px;

      background-color: #dbdbdb;
      transform: translateX(-50%);
    }

    @media (min-width: $desktop-width) {
      left: 51.4%;
    }
  }
}

.form__contact-label {
  text-transform: uppercase;
}

.form__contact-input {
  display: flex;
  width: 100%;
  height: 58px;
  padding: 6px 12px 6px 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: $font;
  color: #000000;

  background-color: #f2f2f2;
  border: 4px solid transparent;
}

.form__fieldset-title {
  margin: 0 0 20px;

  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.form__contact-input--phone {
  background-image: url("../img/svg/phone.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.form__contact-input--mail {
  background-image: url("../img/svg/mail.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.form__options {
  display: grid;

  gap: 16px;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    padding: 0 36px;

    gap: 16px 15px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    padding: 19px 54px 16px;

    gap: 16px 62px;
    grid-template-columns: repeat(3, auto);
  }
}

.form__fieldset--attractions .form__options {
  @media (min-width: $tablet-width) {
    padding: 0 84px;

    gap: 16px 31px;
  }

  @media (min-width: $desktop-width) {
    padding: 32px 45px;

    gap: 16px 62px;
    grid-template-columns: repeat(4, auto);
  }
}

.form__options-item {
  display: grid;
  align-items: center;

  gap: 16px;
  grid-template-columns: auto 1fr;
}

.form__options-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.form__options-input {
  position: relative;

  width: 46px;
  height: 46px;
  margin: 0;

  background-color: #f2f2f2;
  border-radius: 4px;

  appearance: none;
}

.form__options-input[type="radio"] {
  border-radius: 50%;
}

.form__options-input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 35%;

  width: 16px;
  height: 16px;

  background-color: #333333;
  border-radius: 50%;
  transform: translateY(-50%);
}

.form__options-input[type="checkbox"]:checked {
  background-image: url("../img/svg/checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__submit {
  width: 100%;
  padding: 19px 16px 13px;

  @media (min-width: $tablet-width) {
    width: 324px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 384px;
  }
}

.form__note {
  display: block;

  font-size: 12px;
  line-height: 21px;
  text-align: right;
  color: rgba(51, 51, 51, 0.6);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    color: #333333;
  }
}
