.form {
  padding-bottom: 16px;

  @media (min-width: $tablet-width) {
    padding: 70px 60px 39px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 120px 40px;
  }
}

.form__wrapper-fieldset {
  @media (min-width: $tablet-width) {
    position: relative;

    display: grid;

    gap: 58px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    gap: 100px;
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;

      width: 1px;

      background-color: #dbdbdb;
      transform: translateX(-50%);
    }
  }
}

.form__fieldset {
  position: relative;

  margin: 0;
  padding: 24px 20px 39px;

  border: none;
  border-bottom: 1px solid #d6d6d6;

  @media (min-width: $tablet-width) {
    padding: 24px 0 20px;

    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 25px 0;

    border: none;
  }
}

.form__fieldset-title {
  margin: 0 0 20px;

  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.form__contact-list {
  display: grid;

  gap: 16px;
  grid-template-columns: 1fr;
}

.form__contact-label {
  padding-left: 16px;

  text-transform: uppercase;
}

.form__contact-input {
  display: flex;
  width: 100%;
  height: 58px;
  padding: 6px 12px 6px 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: $font;
  color: #000000;

  background-color: #f2f2f2;
  border: 4px solid transparent;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);

    opacity: 1;
  }
}

.form__contact-input--phone {
  padding-right: 60px;

  background-image: url("../img/svg/phone.svg");
  background-repeat: no-repeat;
  background-position: center right -4px;
}

.form__contact-input--mail {
  padding-right: 60px;

  background-image: url("../img/svg/mail.svg");
  background-repeat: no-repeat;
  background-position: center right -4px;
}

.form__options {
  display: grid;

  gap: 16px;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    padding: 0 36px;

    gap: 16px 15px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    padding: 19px 54px 16px;

    gap: 16px 62px;
    grid-template-columns: repeat(3, auto);
  }
}

.form__fieldset--attractions .form__options {
  @media (min-width: $tablet-width) {
    padding: 0 84px;

    gap: 16px 31px;
  }

  @media (min-width: $desktop-width) {
    padding: 32px 45px;

    gap: 16px 62px;
    grid-template-columns: repeat(4, auto);
  }
}

.form__options-item {
  display: grid;
  align-items: center;

  gap: 16px;
  grid-template-columns: auto 1fr;
}

.form__options-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.form__options-input {
  position: relative;

  width: 46px;
  height: 46px;
  margin: 0;

  background-color: #f2f2f2;
  border-radius: 4px;

  appearance: none;
}

.form__options-input[type="radio"] {
  border-radius: 50%;
}

.form__options-input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 14px;

  width: 16px;
  height: 16px;

  background-color: #333333;
  border-radius: 50%;
  transform: translateY(-50%);
}

.form__options-input[type="checkbox"] {
  &:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 22px;
    height: 16px;

    background-image: url("../img/svg/checkbox.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: translate(-50%, -50%);
  }
}

.form__feedback {
  width: 100%;
  height: 150px;
  padding: 15px 12px 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;

  background-color: #f2f2f2;
  border: 4px solid transparent;

  resize: none;

  @media (min-width: $tablet-width) {
    height: 160px;
    padding-top: 12px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    max-width: 770px;
    height: 160px;
    margin: 0 auto;
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
}

.form__fieldset--submit {
  padding-top: 11px;
  padding-bottom: 10px;

  border: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 20px;
    padding-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    padding: 23px 96px 31px;
  }
}

.form__submit {
  width: 100%;
  padding: 19px 16px 13px;

  @media (min-width: $tablet-width) {
    width: 324px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 384px;
  }
}

.form__note {
  display: block;

  font-size: 12px;
  line-height: 21px;
  text-align: right;
  color: rgba(51, 51, 51, 0.6);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    color: #333333;
  }
}

.form__fieldset-title--lines {
  @media (min-width: $tablet-width) {
    overflow: hidden;
  }
}

.form__fieldset-title--lines span {
  @media (min-width: $tablet-width) {
    display: inline-block;
    max-width: 400px;
    padding: 0 60px;

    vertical-align: middle;
  }
}

.form__fieldset-title--lines::before,
.form__fieldset-title--lines::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: relative;

    display: inline-block;
    width: 100%;
    height: 1px;

    vertical-align: middle;

    background-color: #dbdbdb;
  }
}

.form__fieldset-title--lines::before {
  @media (min-width: $tablet-width) {
    margin-left: -100%;
  }
}

.form__fieldset-title--lines::after {
  @media (min-width: $tablet-width) {
    margin-right: -100%;
  }
}
