.intro__bg {
  margin: auto;
  padding: 90px 19px 85px;

  background-image: url("../img/index-background.jpg");
  background-repeat: no-repeat;
}

.intro__description {
  padding: 32px 18px 16px;

  text-align: center;
  text-transform: uppercase;
}

.intro__title {
  margin: 0 0 35px;

  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}
