.navigation {
  position: relative;
}

.navigation__btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.navigation__list {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;

  display: none;
  flex-direction: row;
  height: 223px;

  text-align: center;

  background-color: #81b3d2;
}

@media (min-width: $tablet-width) {
  .navigation__list {
    display: flex;
    justify-content: space-between;
    width: 768px;
    height: 56px;

    background-color: transparent;
  }
}

@media (min-width: $desktop-width) {
  .navigation__list {
    width: 100%;
  }
}

.navigation__logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;

  display: block;
  width: 185px;
  height: 96px;

  transform: translateX(-50%);
}

@media (min-width: $tablet-width) {
  .navigation__logo {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;

    display: block;
    width: 185px;
    height: 96px;
    padding-right: 27px;
    padding-left: 35px;

    transform: translateX(-50%);
  }
}

.navigation__link {
  display: inline-block;
  margin-bottom: 5px;
  padding-bottom: 26px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .navigation__link {
    padding: 18px 48px 17px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }
}

@media (min-width: $desktop-width) {
  .navigation__link {
    padding: 18px 91px 17px;
  }
}

.navigation--open .navigation__list {
  display: block;
}
