@media (min-width: $tablet-width) {
  .product__list {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: $desktop-width) {
  .product__list {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: $tablet-width) {
  .product__item:nth-child(1) {
    grid-column: 1/-1;
  }
}

@media (min-width: $desktop-width) {
  .product__item:nth-child(1) {
    grid-column: 1/-1;
  }
}

/*@media (min-width: $tablet-width) {
  .product__img img {
    display: block;
    width: 100%;
    height: 100%;
  }
}
*/

.product__title {
  margin: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
}

.product__like {
  display: flex;
  flex-wrap: wrap;
}

.product__like svg {
  width: 23px;
  height: 21px;
}
