.search {
  padding: 38px 29px 32px;

  text-align: center;
  text-transform: uppercase;
}

.search__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .search__button {
    text-align: center;
  }
}
