.social {
  display: grid;
  margin-top: 30px;

  grid-template-columns: repeat(3, auto);

  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    padding: 36px, 120px, 36px;
  }
}

.social__item {
  @media (min-width: $tablet-width) {
    padding: 5px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;

  color: #ffffff;

  background-color: #81b3d2;
}
