.video {
  position: relative;
}

.video__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #333333;
}

.video__play {
  position: absolute;

  display: block;
  width: 48px;
  height: 54px;
  margin-right: auto;
  margin-left: auto;

  background-color: rgba(0, 0, 0, 0);
  background-image: url("../img/svg/button.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  opacity: 0.2;
}
