.video {
  padding: 18px 20px 0;

  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 10px 60px 45px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 14px;
    padding-bottom: 89px;
  }
}

.video__title {
  margin: 0 0 26px;

  font-size: 18px;
  line-height: 26px;
  color: #000000;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;

    font-size: 30px;
  }
}

.video__text {
  margin: 0 0 38px;
  padding: 0 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 89px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 87px;
  }
}

.video__text br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.video__image {
  position: relative;

  height: 177px;

  @media (min-width: $tablet-width) {
    height: 500px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    margin: 0 auto;
  }
}

.video__image img {
  display: block;
  width: 100%;
  height: 100%;
}

.video__play {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 48px;
  height: 54px;

  color: #ffffff;

  background-color: transparent;
  background-image: url("../img/svg/icon-play.svg");
  background-repeat: no-repeat;
  border: none;
  transform: translate(-50%, -50%);
  opacity: 0.7;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}
