.video__title {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.video__play {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 48px;
  height: 54px;

  color: #ffffff;

  background-color: transparent;
  background-image: url("../img/svg/button.svg");
  background-repeat: no-repeat;
  border: none;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}
