@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT sans";
  font-display: swap;
  src: url("../fonts/ptsans.woff") format(woff), url("../fonts/ptsans.woff2") format(woff2);
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT sans";
  font-display: swap;
  src: url("../fonts/ptsansbold.woff") format(woff), url("../fonts/ptsansbold.woff2") format(woff2);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  color: #333333;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.button {
  display: block;
  width: 284px;
  margin: 0 auto;
  padding: 16px 18px 16px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #81b3d2;
  border: none;
}

.header {
  min-height: 56px;
}

.navigation {
  position: relative;
}

.navigation__btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.navigation__list {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  display: none;
  background-color: #81b3d2;
}

.navigation__logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  display: block;
  width: 185px;
  height: 96px;
  transform: translateX(-50%);
}

.navigation__link {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation--open .navigation__list {
  display: block;
}

.intro__bg {
  margin: auto;
  padding: 90px 19px 85px;
  background-image: url("../img/index-background.jpg");
  background-repeat: no-repeat;
}

.intro__description {
  padding: 32px 18px 16px;
  text-align: center;
  text-transform: uppercase;
}

.intro__title {
  margin: 0 0 35px;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.advantages__wrapper {
  color: #ffffff;
  text-transform: uppercase;
}

.advantages__container {
  padding: 54px 18px 40px;
  text-align: center;
  text-transform: uppercase;
}

.advantages__wrapper .advantages__container {
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages__title {
  position: relative;
  margin: 0 0 11px;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.advantages__wrapper .advantages__title {
  color: #ffffff;
}

.advantages__img {
  width: 100%;
  height: 260px;
}

.advantages__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.advantages__attractions-item {
  background-repeat: no-repeat;
}

.advantages__attractions-item--motel {
  background-image: url("../img/svg/motel.svg");
}

.advantages__attractions-item--meal {
  background-image: url("../img/svg/meal.svg");
}

.advantages__attractions-item--souvenirs {
  background-image: url("../img/svg/souvenirs.svg");
}

.search {
  padding: 38px 29px 32px;
  text-align: center;
}

.search__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.map iframe {
  display: block;
  width: 100%;
  height: 350px;
  border: none;
}

.footer__appeal {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.footer__copyright {
  color: #000000;
}

.footer__copyright-text {
  text-transform: uppercase;
}

.form__contact-label {
  text-transform: uppercase;
}

.form__contact-input {
  width: 100%;
  height: 58px;
  padding: 6px 12px 6px 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #f2f2f2;
  border: 4px solid transparent;
}

.form__fieldset-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.form__contact-input--phone {
  background-image: url("../img/svg/phone.svg");
  background-repeat: no-repeat;
}

.form__contact-input--mail {
  background-image: url("../img/svg/mail.svg");
  background-repeat: no-repeat;
}

.form__options-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.form__options-input {
  position: relative;
  width: 46px;
  height: 46px;
  margin: 0;
  background-color: #f2f2f2;
  border-radius: 4px;
  -webkit-appearance: none;
          appearance: none;
}

.form__options-input[type=radio] {
  border-radius: 50%;
}

.form__options-input[type=radio]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 35%;
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
  transform: translateY(-50%);
}

.form__options-input[type=checkbox]:checked {
  background-image: url("../img/svg/checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__submit {
  width: 100%;
  padding: 19px 16px 13px;
}

.product__title {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
}

.product__like svg {
  width: 23px;
  height: 21px;
}

.hidden {
  display: none;
}

.video__title {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 48px;
  height: 54px;
  color: #ffffff;
  background-color: transparent;
  background-image: url("../img/svg/icon-play.svg");
  background-repeat: no-repeat;
  border: none;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}

.video__image {
  position: relative;
}

.video__image img {
  display: block;
  width: 100%;
  height: 100%;
}

.social__link {
  color: #ffffff;
  background-color: #81b3d2;
}
/*# sourceMappingURL=style.css.map */