@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT sans";
  font-display: swap;
  src: url("../fonts/ptsans.woff") format(woff), url("../fonts/ptsans.woff2") format(woff2);
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT sans";
  font-display: swap;
  src: url("../fonts/ptsansbold.woff") format(woff), url("../fonts/ptsansbold.woff2") format(woff2);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  color: #333333;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 22px;
  height: 4px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.button {
  display: block;
  width: 284px;
  margin: 0 auto;
  padding: 16px 18px 16px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #81b3d2;
  border: none;
}

.header {
  min-height: 56px;
}

.navigation {
  position: relative;
}

.navigation__btn {
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 10;
  width: 23px;
  height: 22px;
  background-color: transparent;
  background-image: url("../img/svg/icon-menu.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  .navigation__btn {
    display: none;
  }
}

.navigation--open .navigation__btn {
  background-image: url("../img/svg/icon-cross.svg");
}

.navigation__btn:hover {
  width: 32px;
  height: 32px;
  background-color: #81b3d2;
  background-image: url("../img/svg/icon-cross.svg");
  background-repeat: no-repeat;
}

.navigation__list {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: none;
  background-color: #81b3d2;
}
@media (min-width: 768px) {
  .navigation__list {
    position: static;
    display: grid;
    justify-content: space-between;
    width: 100%;
    background-color: #ffffff;
    grid-template-columns: repeat(4, auto);
  }
}

.navigation__list::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 7px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}
@media (min-width: 768px) {
  .navigation__list::after {
    display: none;
  }
}

.navigation__item {
  padding: 20px 17px 10px;
  text-align: center;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
.navigation__item:first-child {
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
}
@media (min-width: 768px) {
  .navigation__item:first-child {
    box-shadow: none;
  }
}
@media (min-width: 768px) {
  .navigation__item {
    width: 153px;
    box-shadow: none;
  }
}
@media (min-width: 1200px) {
  .navigation__item {
    width: 239px;
  }
}
@media (min-width: 768px) {
  .navigation__item:nth-child(4n-2) {
    margin-right: 76px;
  }
}
@media (min-width: 1200px) {
  .navigation__item:nth-child(4n-2) {
    margin-right: 120px;
  }
}
@media (min-width: 768px) {
  .navigation__item:nth-child(4n-1) {
    margin-left: 76px;
  }
}
@media (min-width: 1200px) {
  .navigation__item:nth-child(4n-1) {
    margin-left: 120px;
  }
}

.navigation__logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  display: block;
  width: 185px;
  height: 96px;
  transform: translateX(-50%);
}

.navigation__link {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-width: 768px) {
  .navigation__link {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }
}

.navigation__link--current {
  color: #766357;
}

.navigation--open .navigation__list {
  display: block;
}

.intro__bg {
  position: relative;
  padding-top: 90px;
  padding-bottom: 85px;
  background-color: #8ea8c5;
  background-image: url("../img/svg/divider.svg"), url("../img/back-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center bottom, center;
  background-size: cover;
}
@media (min-width: 768px) {
  .intro__bg {
    padding-top: 76px;
    padding-bottom: 92px;
    background-size: 100% auto, cover;
  }
}

.intro__description {
  padding: 32px 18px 16px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .intro__description {
    padding: 50px 80px 55px;
  }
}
@media (min-width: 1200px) {
  .intro__description {
    padding-top: 60px;
    padding-bottom: 45px;
  }
}

.intro__bg img {
  display: block;
  width: 282px;
  height: 214px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .intro__bg img {
    width: 461px;
    height: 350px;
  }
}
@media (min-width: 1200px) {
  .intro__bg img {
    width: 460px;
  }
}

.intro--page img {
  width: 229px;
  height: 39px;
}
@media (min-width: 768px) {
  .intro--page img {
    width: 460px;
    height: 78px;
  }
}

.intro__title {
  margin: 0 0 35px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .intro__title {
    margin-bottom: 28px;
    font-size: 21px;
    line-height: 26px;
  }
}

.intro__text {
  margin: 0;
  text-transform: uppercase;
}

.intro br {
  display: none;
}
@media (min-width: 768px) {
  .intro br {
    display: block;
  }
}

@media (min-width: 768px) {
  .advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item {
  position: relative;
  background-color: #eeeeee;
}

@media (min-width: 768px) {
  .advantages__item--full {
    grid-column: 1/-1;
  }
}

@media (min-width: 768px) {
  .advantages__wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

@media (min-width: 768px) {
  .advantages__item--full + .advantages__item--full .advantages__wrapper {
    grid-template-columns: 2fr 1fr;
  }
}

.advantages__container {
  padding: 26px 35px 24px;
  text-align: center;
  text-transform: uppercase;
  background-color: #eeeeee;
}
@media (min-width: 768px) {
  .advantages__container {
    min-height: 256px;
    padding: 42px 30px 22px;
  }
}
@media (min-width: 1200px) {
  .advantages__container {
    padding: 52px 40px 25px;
  }
}

.advantages__item--full:first-child .advantages__container {
  padding-top: 71px;
  padding-bottom: 38px;
}
@media (min-width: 768px) {
  .advantages__item--full:first-child .advantages__container {
    padding-top: 54px;
    padding-bottom: 22px;
  }
}
@media (min-width: 1200px) {
  .advantages__item--full:first-child .advantages__container {
    padding: 54px 56px 35px;
  }
}

.advantages__item--full:first-child .advantages__container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 36px;
  background-image: url("../img/svg/divider2.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 768px) {
  .advantages__item--full:first-child .advantages__container::after {
    display: none;
  }
}

@media (min-width: 768px) {
  .advantages__item--full:nth-child(2n) .advantages__wrapper {
    grid-template-columns: 2fr 1fr;
  }
}

.advantages__title {
  margin: 0 0 11px;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
@media (min-width: 768px) {
  .advantages__title {
    padding: 0 20px;
    font-size: 21px;
  }
}
@media (min-width: 1200px) {
  .advantages__title {
    max-width: 175px;
    margin: 0 auto 12px;
    padding: 0 10px;
  }
}

.advantages__item p {
  margin: 0;
}

.advantages__container p + p {
  margin-top: 17px;
}
@media (min-width: 768px) {
  .advantages__container p + p {
    margin-top: 23px;
  }
}

.advantages__description br {
  display: none;
}
@media (min-width: 768px) {
  .advantages__description br {
    display: block;
  }
}

.advantages__wrapper .advantages__container {
  padding: 39px 20px 35px;
  color: #ffffff;
  background-color: #81b3d2;
}
@media (min-width: 768px) {
  .advantages__wrapper .advantages__container {
    padding: 53px 30px 21px;
  }
}
@media (min-width: 1200px) {
  .advantages__wrapper .advantages__container {
    padding: 53px 83px 35px;
  }
}

.advantages__wrapper .advantages__title {
  color: #ffffff;
}

.advantages__img {
  width: 100%;
  height: 260px;
}
@media (min-width: 768px) {
  .advantages__img {
    height: auto;
  }
}

@media (min-width: 768px) {
  .advantages__item--full + .advantages__item--full .advantages__img {
    order: -1;
  }
}

.advantages__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.advantages__attractions {
  padding-bottom: 44px;
}
@media (min-width: 768px) {
  .advantages__attractions {
    display: grid;
    padding-bottom: 0;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__attractions-item {
  padding: 33px 15px 0 65px;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-position: 18px 23px;
  background-size: 40px 40px;
}
@media (min-width: 768px) {
  .advantages__attractions-item {
    min-height: 331px;
    padding: 157px 33px 60px;
    text-align: center;
    background-position: center 61px;
  }
}
@media (min-width: 1200px) {
  .advantages__attractions-item {
    padding: 170px 55px 60px;
    background-position: center 70px;
  }
}

.advantages__attractions-item--motel {
  background-image: url("../img/svg/motel.svg");
}
@media (min-width: 768px) {
  .advantages__attractions-item--motel {
    background-size: 77px 72px;
  }
}

.advantages__attractions-item--meal {
  background-image: url("../img/svg/meal.svg");
}
@media (min-width: 768px) {
  .advantages__attractions-item--meal {
    background-size: 80px 67px;
  }
}
@media (min-width: 1200px) {
  .advantages__attractions-item--meal {
    background-size: 72px 72px;
  }
}

.advantages__attractions-item--souvenirs {
  background-image: url("../img/svg/souvenirs.svg");
}
@media (min-width: 768px) {
  .advantages__attractions-item--souvenirs {
    background-size: 85px 80px;
  }
}
@media (min-width: 1200px) {
  .advantages__attractions-item--souvenirs {
    background-size: 93px 77px;
  }
}

.advantages__attractions-item--souvenirs br {
  display: none;
}
@media (min-width: 1200px) {
  .advantages__attractions-item--souvenirs br {
    display: block;
  }
}

.advantages__attractions-item .advantages__title {
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .advantages__attractions-item .advantages__title {
    margin-bottom: 22px;
  }
}

.advantages__item:not(.advantages__item--full)::after {
  content: "";
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  height: 1px;
  background-color: #d6d6d6;
}
@media (min-width: 768px) {
  .advantages__item:not(.advantages__item--full)::after {
    display: none;
  }
}

.advantages__item:last-child::after {
  display: none;
}

.search {
  padding: 38px 18px 32px;
  text-align: center;
  text-transform: uppercase;
}

.search__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.search__text br {
  display: none;
}
@media (min-width: 768px) {
  .search__text br {
    display: block;
  }
}

@media (min-width: 768px) {
  .search__button {
    width: 458px;
  }
}

.map {
  width: 100%;
  height: 350px;
}

.map iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}

.map__img {
  display: block;
  width: 100%;
  height: 350px;
}

.map__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.no-js iframe {
  display: none;
}

.footer {
  padding: 42px 20px 32px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 37px 60px 34px;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding: 37px 120px 34px;
  }
}

.footer__appeal {
  display: inline-block;
  margin-bottom: 31px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}

.footer__copyright {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  text-decoration: none;
  gap: 12px;
}

.footer__copyright svg {
  fill: currentColor;
}

.form {
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .form {
    padding: 70px 60px 39px;
  }
}
@media (min-width: 1200px) {
  .form {
    padding: 30px 120px 40px;
  }
}

@media (min-width: 768px) {
  .form__wrapper-fieldset {
    position: relative;
    display: grid;
    gap: 58px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .form__wrapper-fieldset {
    gap: 100px;
  }
}
@media (min-width: 768px) {
  .form__wrapper-fieldset::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background-color: #dbdbdb;
    transform: translateX(-50%);
  }
}

.form__fieldset {
  position: relative;
  margin: 0;
  padding: 24px 20px 39px;
  border: none;
  border-bottom: 1px solid #d6d6d6;
}
@media (min-width: 768px) {
  .form__fieldset {
    padding: 24px 0 20px;
    border: none;
  }
}
@media (min-width: 1200px) {
  .form__fieldset {
    padding: 25px 0;
    border: none;
  }
}

.form__fieldset-title {
  margin: 0 0 20px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form__fieldset-title {
    font-size: 21px;
  }
}

.form__contact-list {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;
}

.form__contact-label {
  padding-left: 16px;
  text-transform: uppercase;
}

.form__contact-input {
  display: flex;
  width: 100%;
  height: 58px;
  padding: 6px 12px 6px 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #f2f2f2;
  border: 4px solid transparent;
}
.form__contact-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
  opacity: 1;
}

.form__contact-input--phone {
  padding-right: 60px;
  background-image: url("../img/svg/phone.svg");
  background-repeat: no-repeat;
  background-position: center right -4px;
}

.form__contact-input--mail {
  padding-right: 60px;
  background-image: url("../img/svg/mail.svg");
  background-repeat: no-repeat;
  background-position: center right -4px;
}

.form__options {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .form__options {
    padding: 0 36px;
    gap: 16px 15px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .form__options {
    padding: 19px 54px 16px;
    gap: 16px 62px;
    grid-template-columns: repeat(3, auto);
  }
}

@media (min-width: 768px) {
  .form__fieldset--attractions .form__options {
    padding: 0 84px;
    gap: 16px 31px;
  }
}
@media (min-width: 1200px) {
  .form__fieldset--attractions .form__options {
    padding: 32px 45px;
    gap: 16px 62px;
    grid-template-columns: repeat(4, auto);
  }
}

.form__options-item {
  display: grid;
  align-items: center;
  gap: 16px;
  grid-template-columns: auto 1fr;
}

.form__options-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.form__options-input {
  position: relative;
  width: 46px;
  height: 46px;
  margin: 0;
  background-color: #f2f2f2;
  border-radius: 4px;
  -webkit-appearance: none;
          appearance: none;
}

.form__options-input[type=radio] {
  border-radius: 50%;
}

.form__options-input[type=radio]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 14px;
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
  transform: translateY(-50%);
}

.form__options-input[type=checkbox]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22px;
  height: 16px;
  background-image: url("../img/svg/checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: translate(-50%, -50%);
}

.form__feedback {
  width: 100%;
  height: 150px;
  padding: 15px 12px 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  background-color: #f2f2f2;
  border: 4px solid transparent;
  resize: none;
}
@media (min-width: 768px) {
  .form__feedback {
    height: 160px;
    padding-top: 12px;
  }
}
@media (min-width: 1200px) {
  .form__feedback {
    display: block;
    max-width: 770px;
    height: 160px;
    margin: 0 auto;
  }
}
.form__feedback::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.form__fieldset--submit {
  padding-top: 11px;
  padding-bottom: 10px;
  border: none;
}
@media (min-width: 768px) {
  .form__fieldset--submit {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 20px;
    padding-bottom: 32px;
  }
}
@media (min-width: 1200px) {
  .form__fieldset--submit {
    padding: 23px 96px 31px;
  }
}

.form__submit {
  width: 100%;
  padding: 19px 16px 13px;
}
@media (min-width: 768px) {
  .form__submit {
    width: 324px;
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .form__submit {
    width: 384px;
  }
}

.form__note {
  display: block;
  font-size: 12px;
  line-height: 21px;
  text-align: right;
  color: rgba(51, 51, 51, 0.6);
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form__note {
    font-size: 14px;
    color: #333333;
  }
}

@media (min-width: 768px) {
  .form__fieldset-title--lines {
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  .form__fieldset-title--lines span {
    display: inline-block;
    max-width: 400px;
    padding: 0 60px;
    vertical-align: middle;
  }
}

@media (min-width: 768px) {
  .form__fieldset-title--lines::before,
.form__fieldset-title--lines::after {
    content: "";
    position: relative;
    display: inline-block;
    width: 100%;
    height: 1px;
    vertical-align: middle;
    background-color: #dbdbdb;
  }
}

@media (min-width: 768px) {
  .form__fieldset-title--lines::before {
    margin-left: -100%;
  }
}

@media (min-width: 768px) {
  .form__fieldset-title--lines::after {
    margin-right: -100%;
  }
}

@media (min-width: 768px) {
  .product {
    padding: 46px 60px;
  }
}
@media (min-width: 1200px) {
  .product {
    padding: 46px 0;
  }
}

@media (min-width: 768px) {
  .product__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .product__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.product__item {
  padding: 24px 20px 10px;
  border-bottom: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .product__item {
    padding: 0;
    border: none;
  }
}
@media (min-width: 1200px) {
  .product__item {
    position: relative;
  }
}
@media (min-width: 768px) {
  .product__item:first-child {
    grid-column: 1/-1;
  }
}

.product__img {
  display: block;
  height: 280px;
}
@media (min-width: 768px) {
  .product__img {
    height: 267px;
  }
}

.product__img img {
  display: block;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .product__item:first-child .product__img {
    height: 400px;
  }
}

.product__container {
  padding: 15px 0;
}
@media (min-width: 768px) {
  .product__container {
    display: grid;
    justify-content: space-between;
    align-items: center;
    padding: 21px 20px 17px 16px;
    background-color: #f2f2f2;
    grid-template-columns: repeat(2, auto);
  }
}
@media (min-width: 1200px) {
  .product__container {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 16px 20px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: 768px) {
  .product__item:nth-child(3n) .product__container {
    background-color: #eaeaea;
  }
}
@media (min-width: 1200px) {
  .product__item:nth-child(3n) .product__container {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.product__description {
  margin-bottom: 11px;
}
@media (min-width: 768px) {
  .product__description {
    margin-bottom: 0;
    padding-left: 5px;
  }
}

.product__title {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .product__title {
    margin: 0 0 5px;
    color: #ffffff;
  }
}

.product__like {
  display: grid;
  align-items: baseline;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border: none;
  cursor: pointer;
  gap: 14px;
  grid-template-columns: auto auto;
}
@media (min-width: 768px) {
  .product__like {
    gap: 9px;
  }
}
@media (min-width: 1200px) {
  .product__like {
    color: #ffffff;
  }
}

.product__like svg {
  order: -1;
  width: 23px;
  height: 21px;
  fill: currentColor;
}

.product__like span {
  color: #000000;
}
@media (min-width: 768px) {
  .product__like span {
    padding-bottom: 7px;
  }
}
@media (min-width: 1200px) {
  .product__like span {
    color: inherit;
  }
}

.hidden {
  display: none;
}

.video {
  padding: 18px 20px 0;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .video {
    padding: 10px 60px 45px;
  }
}
@media (min-width: 1200px) {
  .video {
    padding-top: 14px;
    padding-bottom: 89px;
  }
}

.video__title {
  margin: 0 0 26px;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
@media (min-width: 768px) {
  .video__title {
    margin-bottom: 32px;
    font-size: 30px;
  }
}

.video__text {
  margin: 0 0 38px;
  padding: 0 10px;
}
@media (min-width: 768px) {
  .video__text {
    margin-bottom: 89px;
  }
}
@media (min-width: 1200px) {
  .video__text {
    margin-bottom: 87px;
  }
}

.video__text br {
  display: none;
}
@media (min-width: 768px) {
  .video__text br {
    display: block;
  }
}

.video__image {
  position: relative;
  height: 177px;
}
@media (min-width: 768px) {
  .video__image {
    height: 500px;
  }
}
@media (min-width: 1200px) {
  .video__image {
    width: 800px;
    margin: 0 auto;
  }
}

.video__image img {
  display: block;
  width: 100%;
  height: 100%;
}

.video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 48px;
  height: 54px;
  color: #ffffff;
  background-color: transparent;
  background-image: url("../img/svg/icon-play.svg");
  background-repeat: no-repeat;
  border: none;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}

.social {
  display: grid;
  justify-content: center;
  margin-bottom: 30px;
  gap: 6px;
  grid-template-columns: repeat(3, auto);
}
@media (min-width: 1200px) {
  .social {
    margin-bottom: 0;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  color: #ffffff;
  background-color: #81b3d2;
}
/*# sourceMappingURL=style.css.map */